.team-wrapper{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;

}

.participant{
    max-width: 100vw;
}

/* Team display*/
.team-info{
    width: 75vw;
    height: 75vh;
    background-color: rgba(245, 245, 245, 0.685);
    

}
.team-points{
    border: white solid;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 200px;
}
.team-name{
    border:white solid;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 100px;
}