.leaderboard-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/* Table Elements */

table {
  border: solid white;
  width: 75vw;
  height: 75vh;
  text-align: center;
}

th {
  color: aliceblue;
  font-size: 50px;
  background-color: rgba(245, 245, 245, 0.5);
}
td {
  color: aliceblue;
  font-size: 40px;
  font-weight: lighter;
  background-color: rgba(140, 232, 240, 0.3);
}
