.participant-client-wrapper{
height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buzzer{
    font-size: 100px;
    position:absolute;
    border-radius: 10px;
    padding: 20px;
}